{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="pageHeader">
  БАРАА НЭМЭХ
</div>
<div class="pageBody">
  <form class="addProduct" method="POST">
    {% csrf_token %}
    <div class="oneRow head">
      <div class="budget">Төсөв</div>
      <!-- <div class="wallet">Данс</div> -->
      <!-- <div class="division">Салбар</div> -->
      <div class="client">Хаашаа</div>
    </div>
    <div class="oneRow info">
      <div class="budget">
        <select name="budget">
          <option value="">Төсөв сонгоогүй</option>
          {% for budget in all_budgets %}
            <option value="{{budget.id}}">{{budget.name}} - {{budget.amount}}₮</option>
          {% endfor %}
        </select>
      </div>
      <!-- <div class="wallet">
        <select name="fr_wallet" required>
          <option value="">Данс сонгоогүй</option>
          {% for wallet in all_wallets %}
            <option value="{{wallet.id}}">{{wallet.description}} - {{wallet.account}}</option>
          {% endfor %}
        </select>
      </div> -->
      <!-- <div class="division">
        <select name="division" required>
          <option value="">Данс сонгоогүй</option>
          {% for division in all_divisions %}
            <option value="{{division.id}}">{{division.name}}</option>
          {% endfor %}
        </select>
      </div> -->
      <div class="client">
        <select name="client" required>
          <option value="">Хаашаа гэдгээ сонгоогүй</option>
          {% for client in all_clients %}
            {% if client.number > 310 or 200 > client.number %}
            <option value="{{client.id}}">{{client.description}}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="oneRow head">
      <div class="index">№</div>
      <div class="select">Бүтээгдэхүүн</div>
      <div class="input">Тоо/ширхэг</div>
      <div class="input">Нэгж үнэ</div>
      <div class="input">Нийт үнэ</div>
    </div>
    {% for input in range %}
      <div class="oneRow">
        <div class="index">{{ forloop.counter }}</div>
        <div class="select">
          <select name="product{{ forloop.counter }}" id="product{{ forloop.counter }}">
            <option value="">Бараа сонгоогүй</option>
            {% for product in all_products %}
              <option value="{{product.id}}">{{product.name}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="input">
          <input type="text" name="quantity{{ forloop.counter }}" value="0" id="quantity{{ forloop.counter }}" onchange="changeValue('{{ forloop.counter }}')"/>
        </div>
        <div class="input">
          <input type="text" name="price{{ forloop.counter }}" value="0" id="price{{ forloop.counter }}" onchange="changeValue('{{ forloop.counter }}')"/>
        </div>
        <div class="input">
          <input type="text" name="total{{ forloop.counter }}" value="0" id="total{{ forloop.counter }}" readonly/>
        </div>
      </div>
    {% endfor %}
    <div class="oneRow head">
      <div class="index"></div>
      <div class="select"></div>
      <div class="input"></div>
      <div class="input">НИЙТ ҮНЭ</div>
      <div class="input"><input type="text" name="total" value="0" id="total" disabled/></div>
    </div>
    <button type="submit">Барааг оруулах</button>
  </form>
</div>

<script>
  function changeValue(number) {
    console.log(number)
    var quantity = document.getElementById("quantity" + number).value;
    var price = document.getElementById("price" + number).value;
    document.getElementById("total" + number).value = quantity * price;

    var total = 0
    for (let i = 1; i < 31; i++) {
      total = total + parseInt(document.getElementById("total" + i).value);
    }

    document.getElementById("total").value = total;
  }
</script>

{% endblock %}