{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="pageHeader">
  <h3 style="margin-top: 50px;">Бараа материалын орцийн хүснэгт</h3>
</div>
<div class="pageBody">
    <table>
      <tr style="border-top: 1px solid black; border-collapse: collapse;">
        <th>№</th>
        <th>Бүтээгдэхүүн</div>
        <th>Хэмжээ</th>
        <th>Материал</th>
        <th>Хэмжээ</th>
        <th>Х/Н</th>
        <th>Нөөц</th>
      </tr>
    {% for product in products %}
      <tr style="border-top: 1px solid black; border-collapse: collapse;">
        <th>№</th>
        <th>{{ forloop.counter }}</div>
        <th>{{ product.name }}</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      {% for ingredient in product.ingredients.all %}
        {% if forloop.first != product.ingredients.all.0 %}
          <tr>
            <td></td>
            <td style="padding-left:15px"></td>
            <td style="padding-left:15px"></td>
            <td style="padding-left:15px">{{ ingredient.commodity.name }}</td>
            <td style="padding-left:15px">{{ ingredient.size }}</td>
            <td style="padding-left:15px">{{ ingredient.size_type.abbreviation }}</td>
            <td style="padding-left:15px">
              {% for balance in ingredient.client_balances %}
                {{balance.client}}({{balance.balance}}{{balanace.abbreviation}}),
              {% endfor %}
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </table>
  <h3 style="margin-top: 50px;">Материалын орцгүй шууд зарагддаг бүтээгдэхүүнүүд</h3>
  <p>
    {% for product in not_ingredient_products %}
    {{product.name}}<br/>
    {% endfor %}
  </p>
</div>
{% endblock %}