{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="buttons">
  {% for worker in all_shift_workers %}
    <a href="/loungeItemBalances?shiftWorker={{worker.id}}">
      <button type="button"
      class="days {% if shift_worker.id|slugify == worker.id|slugify %}active{% endif %}"
      >
        {{worker.created_at|date:"Y.m.d"}} - {{worker.worker.first_name}}
      </button>
    </a>
  {% endfor %}
</div>

{% if shift_work %}
<div class="pageHeader">
  Ээлжийн тайлан
</div>
<div class="pageBody">
  <div class="walletInfo">
    <div class="info-header">1. Орлогын мэдээлэл</div>
    <div class="wallet">
      <div class="index">1</div>
      <div class="name">Өдрийн нийт орлого</div>
      <div class="amount">{{total_order_amount}} ₮</div>
    </div>
  </div>

  <div class="walletInfo">
    <div class="info-header">2. Борлуулсан бүтээгдэхүүний тоо, дүн</div>
        <div class="cat-name">{{cat.name}}</div>
        {% for balance_log in prev_shift_work.item_balance_logs.all %}
        {% if balance_log.product %}
          <div class="wallet">
            <div class="index">{{ forloop.counter }}</div>
            <div class="name">{{balance_log.product.name}}</div>
            {% if balance_log.quantity > 0 %}
            <div class="balance">{{balance_log.quantity}} ш</div>
            {% else %}
            <div class="balance">0</div>
            {% endif %}
          </div>
        {% endif %}
        {% endfor %}
  </div>
</div>
{% endif %}
{% endblock %}