{% extends 'base.html' %}

{% block content %}
{% load static %}
{% load mathfilters %}

<div class="buttons">
  {% for worker in all_shift_workers %}
    <a href="/loungeItemBalances?shiftWorker={{worker.id}}">
      <button type="button"
      class="days {% if shift_worker.id|slugify == worker.id|slugify %}active{% endif %}"
      >
        {{worker.created_at|date:"Y.m.d"}} - {{worker.worker.first_name}}
      </button>
    </a>
  {% endfor %}
</div>

<div class="pageHeader">
  Ээлжийн тайлан
</div>
<div class="pageBody">
  <table>
    <tr>
      <th>№</th>
      <th>Барааны нэр</th>
      <th>Өмнөх ээлжийн хаалт</th>
      <th>Бараа нэмсэн</th>
      <th>Бараа шилжүүлсэн</th>
      <th>Худалдаалагдсан</th>
      <th>Үлдэгдэл</th>
      <th>Асуудал</th>
    </tr>
  {% for temp in obj_list %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{temp.name}}</td>
      <td>{{temp.prev}}</td>
      <td>-</td>
      <td>-</td>
      <td>{{ temp.order_detial_counter }}</td>
      <td>{{temp.now}}</td>
      <td>{% if temp.prev|sub:temp.now == temp.order_detial_counter %}
         
        {% else %}
        Error
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </table>
</div>
{% endblock %}