{% extends 'base.html' %}

{% block content %}
{% load static %}
{% load mathfilters %}
{% load custom_filters %}

<div class="buttons">
  {% for worker in all_shift_workers %}
    <a href="/loungeItemBalances?shiftWorker={{worker.id}}">
      <button type="button"
      class="days {% if shift_worker.id|slugify == worker.id|slugify %}active{% endif %}"
      >
        {{worker.created_at|date:"Y.m.d"}} - {{worker.worker.first_name}}
      </button>
    </a>
  {% endfor %}
</div>

<div class="pageHeader">
  Ээлж хүлээлцэх бүртгэлийн тайлан
</div>
<div class="pageBody">
  <table style="width: 100%;">
    <tr>
      <th>№</th>
      <th>Барааны нэр</th>
      <th style="width: 50px; padding-left: 5px; padding-right: 5px;">Нээхэд</th>
      <th style="width: 50px; padding-left: 5px; padding-right: 5px;">Зарсан</th>
      <th style="width: 50px; padding-left: 5px; padding-right: 5px;">Нэмсэн</th>
      <th style="width: 50px; padding-left: 5px; padding-right: 5px;">Одоо</th>
    </tr>
  {% for temp in obj_list %}
    <tr style="
    {% if temp.prev|sub:temp.now|sub:temp.order_detial_counter|negate < 0 %}
    background:#EFC3CA
    {% endif %}
    ">
      <td>{{ forloop.counter }}</td>
      <td>{{temp.name}}</td>
      <td style="width: 50px; text-align: center;">{{temp.prev}}</td>
      <td style="width: 50px; text-align: center">{{ temp.order_detial_counter }}</td>
      <td style="width: 50px; text-align: center">
        {% if temp.prev|sub:temp.now != temp.order_detial_counter %}
          {{temp.prev|sub:temp.now|sub:temp.order_detial_counter|negate}}
        {% endif %}
      </td>
      <td style="width: 50px; text-align: center">{{temp.now}}</td>
    </tr>
  {% endfor %}
  </table>
</div>
{% endblock %}