{% extends 'base.html' %}

{% block content %}
{% load static %}
<div style="font-size: 10px;">
Байгууллага
<table>
  <tr>
    <th style="padding: 0 10px;">No</th>
    <th style="padding: 0 10px;">Огноо</th>
    <th style="padding: 0 10px;">Дүн</th>
    <th style="padding: 0 10px;">Байх ёстой НӨАТ</th>
    <th style="padding: 0 10px;">Буруу шивэгдсэн НӨАТ</th>
    <th style="padding: 0 10px;">Зөрүү</th>
    <th style="padding: 0 10px;">Байгууллага нэр</th>
    <th style="padding: 0 10px;">Байгууллага регистер</th>
  </tr>
  {% for bill in bill_list_corp %}
  <tr>
    <td style="padding: 0 10px;">{{ forloop.counter }}</td>
    <td style="padding: 0 10px;">{{bill.date}}</td>
    <td style="padding: 0 10px;">{{bill.amount}}</td>
    <td style="padding: 0 10px;">{{bill.clear_vat}}</td>
    <td style="padding: 0 10px;">{{bill.vat}}</td>
    <td style="padding: 0 10px;">{{bill.zuruu }}</td>
    <td style="padding: 0 10px;">{{bill.customer_name}}</td>
    <td style="padding: 0 10px;">{{bill.customer_no}}</td>
  </tr>
  {% endfor %}
  <tr>
    <th style="padding: 0 10px;"></th>
    <th style="padding: 0 10px;"></th>
    <th style="padding: 0 10px;">{{corp_total}}</th>
    <th style="padding: 0 10px;">{{corp_total_clear_vat}}</th>
    <th style="padding: 0 10px;">{{corp_total_vat}}</th>
    <th style="padding: 0 10px;">{{corp_total_zuruu}}</th>
    <th style="padding: 0 10px;"></th>
    <th style="padding: 0 10px;"></th>
  </tr>
</table>

Хувь хүн
<table>
  <tr>
    <th style="padding: 0 10px;">No</th>
    <th style="padding: 0 10px;">Огноо</th>
    <th style="padding: 0 10px;">Дүн</th>
    <th style="padding: 0 10px;">Байх ёстой НӨАТ</th>
    <th style="padding: 0 10px;">Буруу шивэгдсэн НӨАТ</th>
    <th style="padding: 0 10px;">Зөрүү</th>
    <th style="padding: 0 10px;">Баримтын дугаар</th>
  </tr>
  {% for bill in bill_list_huvi %}
  <tr>
    <td style="padding: 0 10px;">{{ forloop.counter }}</td>
    <td style="padding: 0 10px;">{{bill.date}}</td>
    <td style="padding: 0 10px;">{{bill.amount}}</td>
    <td style="padding: 0 10px;">{{bill.clear_vat}}</td>
    <td style="padding: 0 10px;">{{bill.vat}}</td>
    <td style="padding: 0 10px;">{{bill.zuruu }}</td>
    <td style="padding: 0 10px;">{{bill.lottery}}</td>
  </tr>
  {% endfor %}
  <tr>
    <th style="padding: 0 10px;"></th>
    <th style="padding: 0 10px;"></th>
    <th style="padding: 0 10px;">{{huvi_total}}</th>
    <th style="padding: 0 10px;">{{huvi_total_clear_vat}}</th>
    <th style="padding: 0 10px;">{{huvi_total_vat}}</th>
    <th style="padding: 0 10px;">{{huvi_total_zuruu}}</th>
    <th style="padding: 0 10px;"></th>
  </tr>
</table>
</div>
{% endblock %}